.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header h2 {
  margin: 0;
}

.App-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.App-instructions {
  font-size: 18px;
}

.App-connect-button {
  color: white;
  background-color: #4CAF50;
  width: 40%;
  font-weight: bold;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border: none;
  border-radius: 2px;
  height: 36px;
  min-width: 64px;
  padding: 0 8px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow,transform;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

.App-candle-image {
  width: 100%;
  cursor: pointer;
  background: var(--candle-color, black);
}

.App-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 375px;
}

.App-input-group {
  position: relative;
  margin-bottom: 45px;
  margin-top: 20px;
}
.App-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  box-sizing: border-box;
}
.App-input:focus {
  outline: none;
}

.App-input-label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.App-input:focus ~ .App-input-label,
.App-input:valid ~ .App-input-label {
  top: -20px;
  font-size: 14px;
  color: #4CAF50;
}

.App-input-bar {
  position: relative;
  display: block;
  width: 300px;
}

.App-input-bar:before,
.App-input-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4CAF50;
  transition: 0.2s ease all;
}

.App-input-bar:before {
  left: 50%;
}

.App-input-bar:after {
  right:50%;
}

.App-input:focus ~ .App-input-bar:before,
.App-input:focus ~ .App-input-bar:after {
  width: 50%;
}

.App-input-highlight {
  position :absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.App-input:focus ~ .App-input-highlight {
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
