.App {
  text-align: center;
  height: 100vh;
}

.App-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.App-message {
  font-size: 16px;
  color: red;
}

.App-instructions {
  font-size: 16px;
}

.App-candle-image {
  width: 100%;
  cursor: pointer;
  background: var(--candle-color, black);
}

.App-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 375px;
}
